<%= form_with(model: field_record_detail, local: true) do |form| %>
  <% if field_record_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(field_record_detail.errors.count, "error") %> prohibited this field_record_detail from being saved:</h2>

      <ul>
      <% field_record_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
